<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="Nl91AqzIe2yJPn3R_L9wvrCgn88xz3zNJs5I67lmU_s" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Decols</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
</head>
<body>
  <main>
    <%= render partial: 'shared/bflash' %>
    <%= render partial: 'shared/top_nav' %>
    <%= yield %>
    <footer class="page-footer grey darken-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <p class="grey-text text-lighten-4">Handcrafted In Salt Lake City By: <a href="http://www.cottonwoodcoding.com" target="_blank">Cottonwood Coding</a></p>
          </div>
        </div>
      </div>
      <div class="footer-copyright grey darken-2">
        <div class="container">
          © 2016 Decols Speed Shop
        </div>
      </div>
    </footer>
  </main>
</body>
</html>
